body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-btn {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.toggle-btn:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.dark-mode .toggle-btn {
    background-color: #555;
}

.dark-mode .toggle-btn:before {
    transform: translateX(20px);
}
